<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="include/css/style_main.css" type="text/css">
  <link rel="stylesheet" href="include/css/order_info_style.css" type="text/css">
  <link rel="stylesheet" href="include/css/calender_container_style.css" type="text/css">
  <!--<link rel="stylesheet" href="include/css/selected_dates_style.css" type="text/css">-->
  <script src="include/js/ajax.js"></script>
  <script>document.addEventListener("DOMContentLoaded", function(){init()})</script>
  <title><!--{$title}--></title>
</head>
<body>
  <h3><!--{$title}--></h3><br>


  <!--{$room_selection}-->

  <div class="calender_container">

    <div id='room_month_year'>
      <!--{$room_month_year}-->
    </div>
    <!--{$month_buttons}-->
    <div id="calender">
      <!--{$calender}-->
    </div>

  </div>
  <br>
  <div id="uid_div">
  <label for="user_search"><!--{$search_prompt}--></label>
  <input list="suggestions" id="user_search" class="input">
  <datalist id="suggestions"><!--{$suggestion_html}--></datalist>
  </div>
  <br>

  <div class="order-info">

    <div id="time">
      <!--{$start_date}--><input value="" class="input" id="start_date" placeholder="dd.mm.yyyy">
      <!--{$end_date}--><input value=""  class="input" id="end_date" placeholder="dd.mm.yyyy">
    </div>

    <input disabled placeholder="<!--{$name}-->" type="text" class="input" id="name-input">

    <input disabled placeholder="<!--{$phone}-->" type="text"  class="input" id="phone-input">

    <input disabled type="text" class="input" id="email-input" placeholder="@ipb-halle.de">

    <input disabled class="input" id="department-input" name="department" placeholder="<!--{$department}-->">


    <div id="status-input">
      <input type="radio" id="employee" name="status" value="employee" checked>
      <label for="employee"><!--{$employee}--></label>
      <br>
      <input type="radio" id="guest" name="status" value="guest">
      <label for="guest"><!--{$guest}--></label>
      <br>
    </div>

    <button class="send_btn btn" id="btn"><b><!--{$button}--></b></button>

    <div id="output" style="display:none"><!--{$output}--></div><br>


  </div>
</body>
</html>