<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="include/css/style_main.css" type="text/css">
  <link rel="stylesheet" href="include/css/order_info_style.css" type="text/css">
  <link rel="stylesheet" href="include/css/calender_container_style.css" type="text/css">
  <!--<link rel="stylesheet" href="include/css/selected_dates_style.css" type="text/css">-->
  <script src="include/js/ajax.js"></script>
  <script>document.addEventListener("DOMContentLoaded", function(){init()})</script>
  <title><!--{$title}--></title>
</head>
<body>
  <h3><!--{$title}--></h3><br>

  <div class="calender_container">
    <div id='room_month_year'>
      <!--{$room_month_year}-->
    </div>
    <!--{$month_buttons}-->
    <div id="calender">
      <!--{$calender}-->
    </div>
  </div>

  <br>

  <div id="search_time_period">
    <!--{$time_period_search_text}-->
    <input id="week_num" type="number" value="1"  step="1" min="1" max="17">
    <button id="search_period_button"><!--{$search_period_button_text}--></button>
    <div id="search_period_output"></div>
  </div>

  <br>


  <div id="uid_div">
    <label for="user_search"><!--{$user_search_prompt}--></label>
    <input list="suggestions" id="user_search" class="input">
    <datalist id="suggestions"><!--{$suggestion_html}--></datalist>
  </div>

  <p id="search_response" style="display: none;"></p>

  <div class="order-info">

    <div id="dates">
    <!--{$start_date}-->  <input disabled id="start_date" class="input date-field">
    <!--{$end_date}-->    <input disabled id="end_date" class="input date-field">
    </div>

    <input disabled placeholder="<!--{$name}-->" type="text" class="input" id="name-input">

    <input disabled placeholder="<!--{$phone}-->" type="text"  class="input" id="phone-input">

    <input disabled type="text" class="input" id="email-input" placeholder="@ipb-halle.de">

    <input disabled class="input" id="department-input" name="department" placeholder="<!--{$department}-->">


    <div id="status-input">
      <input type="radio" id="employee" name="status" value="employee" checked>
      <label for="employee"><!--{$employee}--></label>
      <br>
      <input type="radio" id="guest" name="status" value="guest">
      <label for="guest"><!--{$guest}--></label>
      <br>
    </div>

    <button class="send_btn btn" id="btn" tabindex="-1"><b><!--{$button}--></b></button>

    <div id="output"></div><br>

  </div>
</body>
</html>