* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*bestimmt worauf sich Abmessungen beziehen*/
}


.calender_container{
    width: 100%;
}
#calender table{
    width: 100%;
}
#calender table tr{
    height: 2rem;
}
/*styling table cells*/
#calender table td{
    text-align: center;
    transition: opacity 0.3s;
}
#calender table td:hover{
    opacity: 0.7;
    font-size: 1.3rem;
}


/*INTERNAL CALENDER STYLING*/
#calender{
    display: grid;
    padding-top: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  0.5fr 3fr  0.5fr;
    gap: 5px 5px;
    grid-template-areas:
    " . . room-month-year room-month-year . ."
    " cal-table cal-table cal-table cal-table cal-table cal-table"
    " prev-btn prev-btn  curr-btn curr-btn next-btn next-btn";
}

#prev_month{grid-area:prev-btn}/*previous month button*/
#current_month{grid-area:curr-btn}/*current month button*/
#next_month{grid-area:next-btn}/*next month button*/
.selected_dates{grid-area: selected-dates}

#room_selection_div{
    grid-area:room-option;
    text-align: center;
}
#room_month_year{
    grid-area:room-month-year;
    text-align: center;
}
#calender_table{grid-area: cal-table}

.calender_btn{
    background-color: #45928e;
}

#btn_select_room{
    width: 10%;
}

.occupied{
    pointer-events: none;
}