* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*bestimmt worauf sich Abmessungen beziehen*/
}


.calender_container{
    width: 100%;
}
#calender table{
    width: 100%;
}
#calender table tr{ /*defining the height in the row*/
    height: 2rem;
}

#calender table th{ /*defining the width in the header*/
    width: 14.28%; /* 100/7=14.28 */
}
/*styling table cells*/
#calender table td{
    text-align: center;
    transition: opacity 0.3s;
}
#calender table td:hover{
    opacity: 0.7;
    font-size: 1.3rem;
}


/*INTERNAL CALENDER STYLING*/
.calender_container{
    display: grid;
    align-items: center;
    padding-top: 1rem;
    grid-template-columns: 1fr 0.5fr 2fr 2fr;
    grid-template-rows:  2.5rem 2rem 1.5fr 1.5fr ;
    gap: 5px 5px;
    grid-template-areas:
    " . room-selection prev-btn next-btn"
    " .  . room-month-year room-month-year"
    " user-search start-date cal-table cal-table"
    " .  end-date cal-table cal-table";
}

#prev_month{grid-area:prev-btn}/*previous month button*/
#next_month{grid-area:next-btn}/*next month button*/
#start_date{grid-area: start-date;text-align: center;}
#end_date{grid-area: end-date;text-align: center;}
#user_search{grid-area: user-search}

#room_selection_div{
    grid-area:room-selection;
    text-align: center;
    width: 100%;
}
#room_month_year{
    grid-area:room-month-year;
    text-align: center;
}
#calender{grid-area: cal-table}

.calender_btn{
    background-color: #45928e;
    height: 100%;
}

.occupied{
    pointer-events: none;
}